.body{
    padding: 0px;
    margin: 0px;
}

.fondo1 {
    background-color:seashell;
}

.bordes {
    border-color: red;
    border-radius: 5px;
    border: 1px solid black;
    }

.cabecera{
    background-color: brown;
}

.menutext{
    color: white;
    font-size: 28px;
    margin-right: 30px;
    text-decoration: none;
}

.centrar{
    text-align: center;
}

.centrartablas{
    text-align: -webkit-center
}

